/* markdown-todos - paste into your styles.less file */

/* Base colors */
@hue_todo: 0;
@hue_nodo: 0;
@hue_wip: 60;
@hue_done: 120;
@hue_park: 120;
@hue_up: 120;
@hue_down: 240;

.update-preview {

  /* Basics */
  background-color: black;
  font-size: 16px; /* Default: 16px */
  font-family: 'Segoe UI';
  word-wrap: break-word;

  /* Standard HTML tags */

  & table {
    & tr td { border: 1px solid hsla(0, 00%, 50%, 0.3); }
    & tr th { border: 1px solid hsla(0, 00%, 50%, 0.5); font-weight: 600; background: hsla(0, 00%, 50%, 0.2); }
  }

  & progress {
    display: inline-block;
    position: relative;
    height: 1.0em;
    width: 80px;
    margin: 0 0.33em -0.29em 0.33em;
    top: -0.4rem;
    border: 1px hsla(@hue_wip,100%,80%,0.3) solid;
    background: hsla(@hue_wip,100%,50%,0.15);
  }
  & progress::-webkit-progress-value {
    background: hsla(@hue_wip,100%,50%,0.8);
    border-radius: 1px;
  }

  & p {
    margin-bottom: 0;
    margin-top: 0.3rem;
  }

  & ul {
    margin: 0rem 1rem 0rem 0;
    padding: 0 0 0 0.1rem; // pair with [1]
    list-style: none;
  }
  & li {
    margin: 0.3em -0.94rem 0.0em -0.0em; // [1]
    border-left: 0.2rem solid hsla(0,0%,100%,0.2);
    padding: 0 0 0 0.7rem;
    line-height: 1.60;
    color: hsl(0,0%,80%);
  }

  & code, & pre {
    line-height: 1.35;
  }

  & a {
    display: inline-block;
    vertical-align: top;
    color: hsl(0,0%,91%);
    background-color: hsla(0,0%,80%,0.3);
    padding: 0px 8px;
    border-radius: 5px;

    &:hover:after {
      margin-left: 1em;
      content: 'LINK';
    }
  }

  & h1, & h2, & h3 {
    margin-top: 1.4rem;
    color: white;
    text-shadow: 0 0 12px hsla(240,100%,50%,1); /* ultra-bright appearance */
  }

  & h1 {
    font-size: 140%;
    font-weight: 600;
  }
  & h2 { font-size: 120%; font-weight: 600; }
  & h3 { font-size: 105%; }


  /* Custom tags */

  & hide { display: none; }

  & tag {
    background-color: hsla(0,0%,100%,0.05);
    border-radius: 10rem;
    padding: 0.1rem 0.8rem;
    color: hsla(0,100%,80%,1);
    font-weight: 800;
    border: 1px solid hsla(0,0%,100%,0.05);
    box-shadow: 0px 0px 20px hsla(0,100%,90%,0.7);
  }

  /* now */
  & li now {
    display: block;
    padding: 2px 8px;
    box-shadow: 0px 0px 20px 6px hsla(60,100%, 50%, 1);
  }
  & li now:before {
    margin: 0 0.25em 0 -0.9em;
    vertical-align: baseline;
    line-height: 0.6em;
    position: relative;
    top: 0.18em;
    font-size: 1.7em;
  }

  /* c: collapsed */
  & c {
    width: 100%;
    height: 1.8em;
    vertical-align: middle;
    display: inline-block;
    border-bottom: 2px hsla(0,0%,100%,0.2) dashed;
    overflow: hidden;
  }


  /* Ticket markup */

  & ti, & tid, & tic {
    padding: 0rem 0.4rem 0.1rem 0.4rem;
    background: hsla(120,80%,90%,0.2);
    color: hsla(120,0%,100%,0.80);
    font-weight: 400;
    margin-right: 0.25em;
    border: 1px solid hsla(120,80%,90%,0.2);
    border-radius: 4px;
    letter-spacing: 0.06rem;
    white-space: nowrap;
    line-height: 1.9em;
  }
  & tid { background: hsla(0,80%,85%,0.32) }
  & tic { background: hsla(180,90%,90%,0.32) }


  /* Item State */
  & todo, & nodo, & wip, & done, & park, & info, & up, & down {
    flex: 1;
    display: block;
    vertical-align: top;
    color: hsla(0,100%,100%,1);
    padding: 0.3em 1em 0.3em 0.7em;
    margin: -0.0em -1.1rem -0.1em -0.88em;
    border-radius: 0.3em;
    border-left-width: 0.2em;
    border-left-style: solid;
    text-shadow: 0 0 18px black;
  }
  & todo:hover:after, nodo:hover:after, wip:hover:after, done:hover:after, park:hover:after, info:hover:after {
    top: 0rem;
    position: relative;
    padding: 2px 8px;
  }
  & todo {
    color: hsla(@hue_todo,100%,91%,1);
    background-color: hsla(@hue_todo,100%,80%,0.26);
    border-left-color: hsla(@hue_todo,100%,40%,1);
  }
  & todo:hover:after { content: 'TODO'; }

  & nodo {
    color: hsla(@hue_nodo,100%,91%,0.3);
    background-color: hsla(@hue_nodo,100%,80%,0.05);
    border-left-color: hsla(@hue_nodo,100%,20%,1);
  }
  & nodo:hover:after { content: 'NOT DOING'; color: hsla(@hue_nodo,100%,80%,1); }

  & wip {
    color: hsla(@hue_wip,100%,91%,1);
    background-color: hsla(@hue_wip,100%,80%,0.2);
    border-left-color: hsla(@hue_wip,100%,61%,1);
  }
  & wip:hover:after {
    content: 'WIP';
    padding: 2px 8px;
    background-color: hsla(@hue_wip,100%,80%,0.1);
  }

  & done {
    color: hsla(@hue_done,100%,75%,0.7);
    background-color: hsla(@hue_done,100%,90%,0.13);
    border-left-color: hsla(@hue_done,100%,25%,1);
  }
  & done:hover:after {
    content: 'DONE';
    color: hsla(@hue_done,100%,60%,1);
    background-color: hsla(@hue_done,100%,90%,0.1);
    padding: 2px 8px;
  }

  & park {
    color: hsla(@hue_park,0%,75%,0.7);
    background-color: hsla(@hue_park,0%,100%,0.07);
    border-left-color: hsla(@hue_park,0%,65%,1);
  }
  & park:hover:after {
    content: 'PAUSED';
    color: hsla(@hue_park,0%,70%,1);
    background-color: hsla(@hue_park,0%,100%,0.1);
    padding: 2px 8px;
  }

  & info {
    color: hsla(0,0%,80%,1);
    background-color: hsla(0,0%,100%,0.13);
    border-left-color: hsla(0,0%,100%,0.1);
  }
  & info:hover:after {
    content: 'INFO';
    color: hsla(0,0%,100%,1);
    background-color: hsla(0,0%,50%,0.3);
    padding: 2px 8px;
  }

  & up {
    color: hsla(@hue_up,20%,80%,1);
    background-color: hsla(@hue_up,20%,30%,0.5);
    border-left-color: hsla(@hue_up,20%,60%,0.4);
    &:after {
      color: hsla(@hue_up, 100%, 20%, 1);
      background-color: hsla(@hue_up, 30%, 50%, 1);
      content: '\2665';
    }
  }
  & down {
    color: hsla(@hue_down,100%,90%,1);
    background-color: hsla(@hue_down,20%,30%,0.9);
    border-left-color: hsla(@hue_down,20%,60%,0.4);
    &:after {
      color: hsla(@hue_down, 100%, 20%, 1);
      background-color: hsla(@hue_down, 30%, 50%, 1);
      content: '\2716';
    }
  }

  & up:after, & down:after {
    float: right;
    font-size: 1.4rem;
    line-height: 1.0rem;
    min-width: 0.6rem;
    padding: 0.2rem 0.2rem;
    display: inline-block;
    border-radius: 0.3rem;
    text-shadow: 0 0 18px white;
  }

  /* meta tagging */
  & o {
    float: right;
    min-width: 0.6rem;
    padding: 0.0rem 0.4rem;
    display: inline-block;
    font-weight: 800;
    color: black;
    border-radius: 0.3rem;
    background-color: hsla(120, 0%, 80%, 0.70);
    text-shadow: 0 0 18px white;
  }
  /* p = priority tags */
  & o[p1], & o[p2], & o[p3], & o[p4], & o[p] { }
  & o[p1] { background-color: hsla(0, 100%, 70%, 1);  }
  & o[p2] { background-color: hsla(0, 100%, 80%, 0.8);  }
  & o[p3] { background-color: hsla(0, 100%, 90%, 0.5);  }
  & o[p4] { background-color: hsla(0, 100%, 95%, 0.4);  }
  & o[p1]:before { content: '1'; };
  & o[p2]:before { content: '2'; };
  & o[p3]:before { content: '3'; };
  & o[p4]:before { content: '4'; };
  /* s = star tags */
  & o[s1], & o[s2], & o[s3], & o[s4], & o[s5], & o[s] {
      background-color: hsla(60, 100%, 50%, 0.18);
      color: hsla(60, 100%, 50%, 1);
      text-shadow: 0 0 13px yellow;
  }
  & o[s1]:before { content: '\2605'; }
  & o[s2]:before { content: '\2605\2605'; }
  & o[s3]:before { content: '\2605\2605\2605'; }
  & o[s4]:before { content: '\2605\2605\2605\2605'; }
  & o[s5]:before { content: '\2605\2605\2605\2605\2605'; }

  /* blocker tag */
  & blocker {
    color: #FEE;
    background-color: #E00;
    padding: 2px 5px;
    margin: 0px 2px;
    border-radius: 4px;
  }
  & blocker:hover:after {
    margin-left: 1rem;
    content: 'BLOCKED'
  }

}
